body{
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-default{
    background-color:#4c66a4;
    border-bottom:none;
}
.navbar-form label{
    color:#fff;
    font-size:13px;
    font-weight:normal;
}
.navbar-form  .input-sm{
    border-radius:0;
}
legend a{
    color:#141823;
    font-size:25px;
    font-weight:bold;
}
.login-btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    cursor:pointer;
    text-shadow: 1px 1px 4px #8a8a8a;
    font-family: Arial;
    color: #ffffff;
    font-size: 13px;
    background: #5b74a8;
    line-height:21px;
    font-weight:bold;
    padding: 3px 6px 3px 6px;
    border: solid #29447e  1px;
    text-decoration: none;
}

.login-btn:hover {
    background: #5b74a8;
    text-decoration: none;
}
.signup-btn {
    background: #79bc64;
    background-image: -webkit-linear-gradient(top, #79bc64, #578843);
    background-image: -moz-linear-gradient(top, #79bc64, #578843);
    background-image: -ms-linear-gradient(top, #79bc64, #578843);
    background-image: -o-linear-gradient(top, #79bc64, #578843);
    background-image: linear-gradient(to bottom, #79bc64, #578843);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    text-shadow: 0px 1px 0px #898a88;
    -webkit-box-shadow: 0px 0px 0px #a4e388;
    -moz-box-shadow: 0px 0px 0px #a4e388;
    box-shadow: 0px 0px 0px #a4e388;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #3b6e22  1px;
    text-decoration: none;
}

.signup-btn:hover {
    background: #79bc64;
    background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
    background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
    background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
    background-image: -o-linear-gradient(top, #79bc64, #5e7056);
    background-image: linear-gradient(to bottom, #79bc64, #5e7056);
    text-decoration: none;
}
.navbar-default .navbar-brand{
    color:#fff;
    font-size:30px;
    font-weight:bold;
}
.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
    #wrap{
        margin-bottom:89px;
    }
    .navbar-form .lt-left{
        float:left !important;
    }
    .navbar-form .lt-right{
        float:right !important;
    }
    .navbar-form .checkbox{
        display:block;
    }
    .navbar-form input[type="password"]{
        margin-left:3px;
    }
    .navbar-form .login-btn{
        margin-left: 10px;
        margin-top: 24px;
    }
    #home{
        margin-top:50px;
    }
    #home .slogan{
        color: #0e385f;
        line-height: 29px;
        font-weight:bold;
    }

    .navbar-brand{
        padding:35px 15px;
    }
}